header{
    font-family: 'Open Sans', sans-serif;
}
.searchbar input {
    height: 2em;
}
header .navbar-nav{
    justify-content: space-between;
}
header .nav-item{
    margin-left: 0.5em;
}
header .nav-item a:hover{
    font-weight: bold;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border-radius: .2em;
}
.searchbar{
    margin-left: 5.5em;
    margin-top: 1em;
}

.dropdown:hover > .dropdown-menu{
    display: block;
    margin-top: .125rem;
}