body{
    font-family: 'Open Sans', sans-serif;

}
.log-banner img{
    border-radius: 3.2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.log-banner{
    border-radius: 3.2rem;
}
.log-banner img:hover{
    transform: scale(1.1);
    object-fit: cover;
    overflow: hidden;
    transition: 0.5s;
}