body {
    background-color: #f4f7f6;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-weight: bold;
    color: #333;
}

.card {
    flex: 1;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

.card-body h2 {
    font-size: 2.2rem;
    color: #444;
}

.card-body p {
    font-size: 1rem;
    color: #777;
}

.list-group-item {
    border: none;
    font-size: 1.1rem;
}

.btn {
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    /*margin-top: auto;*/
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.container {
    max-width: 900px;
}
.container-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-control {
    border-radius: 30px;
    padding: 10px 15px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-primary {
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 1.1rem;
}