@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
    font-family: "Inter", sans-serif;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

/*.dropdown:hover > .dropdown-menu {*/
/*    display: block;*/
/*    margin-top: .125rem;*/
/*}*/

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

.sidebar-nav .text-muted {
    color: #6a737b !important;
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }

    .sidebar-nav {
        -webkit-transform: none;
        transform: none !important;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight) !important;
    }
}


.nav-tabs .active button {
    color: #212529;
}


/*NOTI BOX*/
.notiBox {
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: #f5f5f5;
    color: #000000;
    padding: 15px;
    border-radius: 5px;
    border: gray 2px solid;
    display: none;
    z-index: 1000;
    min-width: 200px;
    animation: slide-in 0.7s ease-out forwards, slide-out 1.2s 5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    overflow: hidden;
}

.notiBox span {
    padding-right: 10px;
}

.close-notiBox {
    position: absolute;
    top: 2px;
    right: 6px;
    background: none;
    border: none;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(150%);
        opacity: 0;
    }
}

.notiBox-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: gray;
    width: 100%;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}